<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deepak.musicclient"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="com.example.deepak.musicservice.GEN_ID" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_CHECKIN_PROPERTIES"/>


    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name="com.example.deepak.musicclient.MusicClient"
            android:label="MusicClient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.deepak.musicclient.RequestsActivity"
            android:label="Music Player History"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
